@import 'header.scss';
@import 'variables.scss';


header {
    .buttons-home {
        justify-content: center;
        a {
            margin-left: 5rem;
        }
        .dnone {
            display: none;
        }
    }
}

main {
    min-height: 91vh;
    section {
        height: 91vh;
        figure {
            height: 40.7%;
            margin: 0;
            display: none;
        }
        .box {
            width: 37.5%;
            height: 35.7%;
            .title {
                display: none;
                font-size: 4rem;
                letter-spacing: 0.8rem;
                font-weight: 700;
                background-image: linear-gradient(to bottom, #60dd8e, #188a8d);
                color: black;
                background-clip: text;
                -webkit-background-clip: text;

                /* Adicionado: */
                -webkit-text-fill-color: transparent;
            }
            .right {
                text-align: right;
            }
            .text {
                display: none;
                color: #228754;
                font-size: 1.2rem;
                font-weight: 500;
            }
            a {
                display: none;
                width: 40%;
                height: 16.4%;
                border: none;
                background-color: #22b16f;
                font-size: 1.6rem;
                color: $white;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    background-color: #1e9b60;
                }
            }
        }
    }
    .schedule {
        background-color: $white;
    }
    .clients {
        background-color: #f7f7f7;
        height: 100vh;
    }
    .services {
        background-color: $white;
        height: 100vh;

    }
    .inventory {
        background-color: #f7f7f7;
        height: 100vh;

    }
}

::-webkit-scrollbar {
    width: 0.7rem;
}
::-webkit-scrollbar-thumb {
    background-color: $dark-green;
}

@media (max-width: 1536px) {
    html {
        font-size: 12.3px;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 10px;
    }
}