@import 'header.scss';
@import 'variables.scss';

body {
    background-color: #c7ffd8;
background-image: linear-gradient(173deg, #c7ffd8 11%, #2cff8e 29%, #2ddc8c 45%, #23a85f 62%, #1a7142 80%, #115431 100%);


    height: 400vh;

}

::-webkit-scrollbar {
    width: 0.7rem;
}
::-webkit-scrollbar-thumb {
    background-color: $dark-green;
}