@import 'header.scss';
@import 'variables.scss';




main {
    height: 91vh;
    .table-clients {
        width: 100rem;
        height: 50rem;
        border: 3px solid $black;
        .left {
            height: 100%;
            width: 25%;
            background-color: #2dbb70;
            background-image: linear-gradient(170deg, #2dbb70 15%, #189251 99%);
            .profile-client {
                display: none;
            }
            .profile-pet {
                display: none;
            }
        }
        .right {
            width: 65%;
            .sup {
                height: 25%;
                .title-table {
                    height: 25%;
                    font-size: 2rem;
                    color: #585858;
                    font-weight: 500;
                }
                .orderby {
                    width: 10.5rem;
                    font-size: 1.3rem;
                    color: #999999;
                    cursor: pointer;
                    .order-text {
                        margin-bottom: 1rem;
                        figure {
                            width: 1rem;
                            height: 1rem;
                            margin: 0;
                        }
                        &:hover {
                            filter: brightness(0);
                        }
                    }
                    .order-list {
                        width: 16rem;
                        position: absolute;
                        top: 100px;
                        display: none;
                        div {
                            background-color: $white;
                            height: 3rem;
                            font-size: 1.1rem;
                            &:hover {
                                background-color: #e0e0e0;
                            }
                        }
                    }
                }
                .search {
                    height: 3rem;
                    figure {
                        width: 2rem;
                        height: 2rem;
                    }
                    input {
                        border: none;
                        border-bottom: 2px solid #999999;
                        font-size: 1.2rem;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                button {
                    height: 3.5rem;
                    width: 10rem;
                    border: none;
                    background-color: #2dbb70;
                    color: rgb(255, 255, 255);
                    font-size: 1.3rem;
                }
            }
            .clients-list {
                .client-pet {
                    .client-list-name {
                        width: 95.4%;
                        height: 5rem;
                        color: #7c7c7c;
                        background-color: #f3f3f3;
                        font-size: 1.4rem;
                        figure {
                            width: 2rem;
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0.7rem;
}
::-webkit-scrollbar-thumb {
    background-color: $dark-green;
}