* {
  margin: none;
  padding: none;
  max-width: 100vw;
}

body {
  min-height: 100vh;
}

body header {
  max-width: 100vw;
  height: 9vh;
  background-color: #2dbb70;
}

body header figure {
  width: 3rem;
  height: 3rem;
  margin: 0 0 0 1rem;
}

body header figure img {
  width: 100%;
  height: 100%;
}

body header h1 {
  font-family: 'Anton', sans-serif;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 2rem;
  color: #ffffff;
}

body header .title-logo {
  width: 9.4%;
}

body header .buttons-home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46%;
  height: 30%;
}

body header .buttons-home a {
  height: 100%;
  margin-left: 5rem;
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration: none;
}

body header .buttons-home a:hover {
  color: #007235;
}

body header .buttons-home .dnone {
  display: none;
}

body header .signup {
  height: 30%;
}

body header .signup a {
  height: 100%;
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
}

body header .signup #logout {
  display: none;
}

.areYouSure {
  position: absolute;
  display: none;
  width: 30rem;
  height: 15rem;
  background-color: #ffffff;
  color: #494949;
  -webkit-box-shadow: #ececec 0px 0px 6px 0px;
          box-shadow: #ececec 0px 0px 6px 0px;
  font-weight: 500;
  font-size: 1.8rem;
  top: calc(50% - 7.5rem);
  left: calc(50% - 15rem);
  text-align: center;
  z-index: 10;
}

.areYouSure button {
  width: 7rem;
  height: 2.5rem;
  background-color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.areYouSure .cancel {
  color: #ffffff;
  background-color: #1daa5f;
}

.areYouSure .yes {
  color: #696969;
  border: 3px solid #696969;
}

.loading {
  display: none;
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: calc(50% - 4rem);
  left: calc(50% - 4rem);
  z-index: 11;
}

.hidden {
  display: none;
  position: absolute;
  width: 45rem;
  height: 40rem;
  top: 8rem;
  right: 41rem;
  background-color: #ffffff;
  -webkit-box-shadow: #e1e1e1 0px 0px 6px 0px;
          box-shadow: #e1e1e1 0px 0px 6px 0px;
  z-index: 10;
}

.hidden .window-header {
  background-color: #2dbb70;
  height: 5rem;
  font-size: 1.5rem;
  color: #ffffff;
}

.hidden .window-header .exit {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.hidden .window-header .exit:hover {
  opacity: 0.8;
}

.hidden form {
  width: 70%;
  height: 70%;
}

.hidden form .hdn {
  display: none;
}

.hidden form input, .hidden form div {
  width: 20rem;
  height: 3.2rem;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 1.1rem;
}

.hidden form input:focus, .hidden form div:focus {
  outline: none;
}

.hidden form div {
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.hidden form div figure {
  height: 100%;
  width: 51px;
}

.hidden form div figure img {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.hidden form div .down {
  width: 1rem;
  height: 1rem;
}

.hidden form div .imgs {
  position: absolute;
  border: solid black 3px;
  width: 20rem;
  height: 20rem;
  top: 26rem;
  background-color: #ffffff;
  display: none;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.hidden form div .imgs figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.hidden form div .imgs figure:hover {
  background-color: #bbbbbb;
}

.hidden form div .imgs figure img {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.hidden form .submit {
  height: 2.5rem;
  border: none;
  background-color: #189251;
  color: #ffffff;
  font-size: 1.2rem;
}

.hidden form .submit:hover {
  background-color: #178048;
}

main {
  height: 91vh;
}

main .table-services {
  width: 83.4%;
  height: 81.4%;
}

main .table-services .table-header {
  height: 20%;
  font-size: 2.6rem;
  color: #585858;
  font-weight: 500;
  padding: 0 7rem;
}

main .table-services .table-header button {
  font-size: 1.3rem;
  width: 11.7%;
  height: 35.1%;
  color: #ffffff;
  font-weight: 400;
  background-color: #2dbb70;
  border: none;
}

main .table-services .table-header button:hover {
  background-color: #229e5c;
}

main .table-services .table-header .orderby-parent {
  width: 19.2%;
  height: 38%;
}

main .table-services .table-header .orderby-parent .orderby {
  width: 69.6%;
  font-size: 57.7%;
  font-size: 1.5rem;
  color: #999999;
  cursor: pointer;
}

main .table-services .table-header .orderby-parent .orderby .order-text {
  height: 100%;
}

main .table-services .table-header .orderby-parent .orderby .order-text div {
  width: 75%;
}

main .table-services .table-header .orderby-parent .orderby .order-text figure {
  width: 1rem;
  height: 1rem;
  margin: 0;
}

main .table-services .table-header .orderby-parent .orderby .order-text:hover {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

main .table-services .table-header .orderby-parent .orderby .order-list {
  width: 16rem;
  position: absolute;
  top: 214px;
  display: none;
}

main .table-services .table-header .orderby-parent .orderby .order-list div {
  background-color: #ffffff;
  height: 3rem;
  font-size: 1.2rem;
}

main .table-services .table-header .orderby-parent .orderby .order-list div:hover {
  background-color: #e0e0e0;
}

main .table-services .table-header .search-parent {
  width: 34.6%;
  height: 40.1%;
}

main .table-services .table-header .search-parent .search {
  height: 4rem;
}

main .table-services .table-header .search-parent .search figure {
  height: 90%;
}

main .table-services .table-header .search-parent .search form {
  width: 47%;
}

main .table-services .table-header .search-parent .search form input {
  border: none;
  border-bottom: 2px solid #999999;
  font-size: 1.2rem;
  height: 51%;
}

main .table-services .table-header .search-parent .search form input:focus {
  outline: none;
}

main .table-services .right {
  width: 100%;
  height: 80%;
}

main .table-services .right .sub-table {
  height: 95%;
  overflow: auto;
}

main .table-services .right .sub-table .card-service {
  width: 18.7rem;
  height: 18.7rem;
}

main .table-services .right .sub-table .card-service .inside {
  background-color: #939393;
  border-radius: 1.2rem;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.5rem;
  height: 12.5rem;
  padding: 0 2rem;
}

main .table-services .right .sub-table .card-service .inside .delete {
  display: none;
  height: 1.4rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

main .table-services .right .sub-table .card-service .inside .delete .removeService:hover {
  opacity: 0.6;
}

main .table-services .right .sub-table .card-service .inside figure {
  width: 3rem;
}

main .table-services .right .sub-table .card-service .inside figure img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

main .table-services .right .sub-table .card-service .inside .hdn {
  margin-top: 1rem;
  width: 90%;
  font-size: 1rem;
  display: none;
}

main .table-services .right .sub-table::-webkit-scrollbar {
  width: 0.4rem;
}

main .table-services .right .sub-table::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
}

@media (max-width: 1536px) {
  html {
    font-size: 12.3px;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 10px;
  }
}
/*# sourceMappingURL=services.css.map */